body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: papayawhip;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.link {
  position: relative;
  display: flex;
}

.link a {
  padding: 1em 3em;
  background-color: salmon;
  color: white;
  border-radius: 1em;
  font-size: 18px;
  text-decoration: none;
}

.tooltip {
  position: absolute;
  opacity: 0;
  top: -70px;
}

.link:hover .tooltip {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.2s;
}

.tooltip-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: cornflowerblue;
  padding: 1em;
  border-radius: 0.5em;
  color: white;
  transition: 1s;
  width: 200px;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: -0.9em;
  border-width: 1em 1em 0;
  border-style: solid;
  border-color: cornflowerblue transparent;
}

.tooltip-text span {
  cursor: pointer;
}

.tooltip-text span:hover {
  text-decoration: underline;
}

.tooltip-text span i {
  margin-right: 0.25em;
}
