/* Just colors and the attribution area. Can be ignored */

:root {
  --very-dark-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --dark-gray-blue: hsl(237, 12%, 33%);
  --gray-blue: hsl(240, 6%, 50%);
  --divider-gray: hsl(240, 5%, 91%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  padding: 20px 0;
  margin-top: 20px;
  background-color: darkslategrey;
  color: white;
}

.attribution a {
  color: wheat;
}

/* Styling for the project begins here  */

/* Background */
html {
  background: linear-gradient(
    145deg,
    hsl(273, 75%, 66%) 0%,
    hsl(240, 73%, 65%) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Input Styling */

/* Hide the checkboxes */
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: -100px;
}

.tabs {
  overflow: hidden;
}

.tab {
  width: 100%;
  color: var(--gray-blue);
  overflow: hidden;
  border-bottom: 1px solid var(--divider-gray);
}

.label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: 400;
  cursor: pointer;
}

.label:hover {
  color: var(--soft-red);
}

.label::after {
  content: "\276F";
  color: var(--soft-red);
  transform: rotate(90deg);
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.25s;
}

.content {
  max-height: 0;
  padding: 0 1em;
  line-height: 2em;
  font-size: 0.9em;
  color: var(--gray-blue);
  transition: all 0.5s;
}

.content p {
  margin: 0;
}

input:checked + .label {
  color: var(--very-dark-blue);
  font-weight: 700;
}

input:checked + label::after {
  transform: rotate(-90deg);
}

input:checked ~ .content {
  max-height: 100vh;
  padding: 1em;
}

/* Card Styling */

.picture-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

h1 {
  text-align: center;
  color: var(--very-dark-blue);
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 1em;
  padding: 1em;
  padding-bottom: 3em;
  border-radius: 1em;
  background-color: white;
  box-shadow: 8px 8px 16px 4px rgba(0, 0, 0, 0.2);
}

.card-header {
  width: 100%;
  z-index: 2;
}

.card-header picture {
  display: flex;
  justify-content: center;
  margin-top: -8em;
  margin-bottom: 2em;
}

.illustration {
  width: 240px;
}

@media (min-width: 920px) {
  h1 {
    text-align: left;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 920px;
    overflow: hidden;
    text-align: left;
    z-index: 1;
  }

  .card-header {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
    margin-left: -5em;
    z-index: 1;
  }

  .card-content {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 2em;
  }

  .illustration {
    width: 460px;
    margin-left: -2em;
    z-index: 1;
  }

  .picture-container {
    margin-left: -40em;
    width: 200px;
    height: 510px;
  }

  picture .box {
    position: sticky;
    margin-bottom: -408px;
    margin-left: -5em;
    z-index: 3;
  }
}
