:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-desaturdated-blue: hsl(229, 23%, 23%);
  --dark-gray-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

/* DESKTOP */
@media (min-width: 1440px) {
}
