:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-desaturdated-blue: hsl(229, 23%, 23%);
  --dark-gray-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  padding: 20px 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* DESKTOP */
@media (min-width: 1440px) {
}
