body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: silver;
  padding: 0;
  margin: 0;
  max-width: 480px;
}

li {
  background-color: gainsboro;
  padding: 1em;
  margin-bottom: 2px;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: #1b1b1b;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.active {
  border: 8px solid mediumseagreen;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  background-color: #f1f1f1;
}

.message-text {
  display: flex;
  justify-content: space-between;
}
