:root {
  --dark-gray-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--light-grayish-blue);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.25em;
}

h2 {
  font-size: 1.125em;
}

.card {
  display: grid;
  margin: 2em;
  border-radius: 1em;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.header-image {
  width: 100%;
}

.content {
  color: var(--dark-gray-blue);
}

.content-text {
  padding: 2em 2em 0 2em;
}

.content-text p {
  font-size: 1em;
  line-height: 1.75em;
  color: var(--desaturated-dark-blue);
  margin-bottom: 3em;
}

.card-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 40px;
}

.card-author-info {
  display: flex;
}

.info-text {
  margin-left: 1em;
}

.date {
  color: var(--grayish-blue);
}

.share-container {
  display: block;
  position: relative;
  height: 100px;
  width: 100%;
}

.share-btn {
  font-size: 1.25em;
  color: var(--desaturated-dark-blue);
  background-color: var(--light-grayish-blue);
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 2;
}

.share-container-secondary {
  overflow: hidden;
  height: 120px;
  margin-bottom: -100px;
}

.share-container-secondary-content {
  background: var(--dark-gray-blue);
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 0.25em;
  display: block;
  height: 100px;
  padding: 2em 2em;
  display: none;
}

.share-container-secondary-content i {
  font-size: 1.5em;
  color: #fff;
}

@media (min-width: 900px) {
  .card {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    max-width: 840px;
  }
  header {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .content {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 2em 4em;
  }

  .content p {
    margin-bottom: 1.5em;
    font-size: 0.85em;
  }
  .header-image {
    height: 100%;
    object-fit: cover;
  }
}
